/****** Body, Wrapper, Typography ******/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F9F8F4;
  font-size: 62.5%;
}

.wrapper {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.content {
  border-bottom: 2px solid #ccc;
  box-shadow: 0px 16px 32px #EBE7D6;
}

a {
  text-decoration: none;
  color: #666;
}

p {
  font-size: 1.8em;
}


/****** Titel Guide ******/
.titel {
  background-color: black;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.titel h1 {
  padding: 25px 0px 50px 25px;
  color: white;
}

.station-show-titel {
  width: 100%;
}

.station-show-titel p {
  display: inline;
  margin-left: 15px;
}


/****** Header-Picture ******/
.header-pic img {
  width: 100% !important;
}


/****** Update ******/
.update {
  text-align: center;
  height: 250px;
}

.loading-gif {
  width: 140px !important;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;
}

.update p {
  padding-top: 20px;
}

.update-box {
  background-color: rgba(47, 113, 47, 0.99);
  color: #fff;
  position: absolute;
  font-size: 0.8em;
  top: 0px;
  width: 95%;
  visibility: hidden;
  z-index: 99;
  text-align: center;
  left: 2.5%;
}

.update-box p {
  opacity: 0.9;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 75%;
  margin-left: 36px;
}

.close-icon {
  font-size: 3.4em !important;
  padding: 14px;
}


/****** Button ******/
.button {
  cursor: pointer;
  width: 70%;
  border: 2px solid rgb(145, 207, 218);
  text-align: center;
  background-color: rgba(67, 150, 224, 0.06);
  padding: 10px 0px 10px 0px;
  font-size: 1.8em;
  margin-top: 15px;
  float: left;
  margin-left: 7%;
  visibility: hidden;
}

.button:hover {
  background-color: rgb(145, 207, 218);
  color: white;
}


/****** List-Box ******/
.stations ul {
  margin-top: -5px;
  list-style: none;
}

.list-box {
  background-color: white;
}

div.list-box {
  border-bottom: 2px solid #ccc;
}

li.list-box {
  border-top: 1px solid #ccc;
}

.list-box a {
  display: block;
  padding: 15px;
}

.list-box .fa, .stations-number {
  line-height: 22px;
  color: #ccc;
  font-size: 1.6em;
}

.fa-right {
  float: right;
}

.fa-left {
  float: left;
}

.stations-number {
  display: inline;
  margin-left: 20px;
}

.stations-title {
  display: inline;
  margin-left: 15px;
}


/****** Item ******/
.item {
  margin-bottom: 20px;
}

.item-audio, .item-text {
  padding: 0 20px;
}

.item audio, .item img, .item video {
  width: 100%;
}


/****** Item Image ******/
.item-image img {
  border-bottom: 2px solid #ccc;
}


/****** Item Text ******/
.item-text p {
  opacity: 0.65;
}


/****** Footer ******/
.footer {
  text-align: center;
}

.footer p, .footer a {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #777;
  opacity: 0.8;
  font-weight: 600;
  font-size: 1.2em !important;
}


/****** Media Queries ******/
@media screen and (min-width: 400px) {
  .wrapper {
    width: 398px;
    margin-left: auto;
    margin-right: auto;
  }
}
