/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require font-awesome
 *= require_self
 */
/****** Body, Wrapper, Typography ******/
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #f6f7f8;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  position: relative; }

a {
  text-decoration: none;
  color: #999; }

p {
  font-size: 1.8em;
  opacity: 0.9; }

/****** Item ******/
.item {
  margin-bottom: 0; }

.item-audio, .item-text {
  padding: 15px 20px;
  overflow: visible; }

.item audio, .item img, .item video {
  display: block;
  width: 100%; }

.item-picture.item-pos-0, .item-video.item-pos-0 {
  margin-top: 0px; }

.fa {
  font-size: 2.0em;
  cursor: pointer; }

.fa-right {
  float: right; }

.fa-left {
  float: left; }

/****** Titel Guide ******/
.titel {
  background-color: black;
  position: absolute;
  width: 100%;
  top: 0px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }

.titel h1 {
  padding: 25px 0px 50px 25px;
  color: white; }

.station-show-titel {
  width: 100%; }

.station-show-titel p {
  display: inline;
  margin-left: 15px; }

.station-show-titel.list-box.right {
  position: fixed;
  top: 0px;
  z-index: 66; }

/****** Header-Picture ******/
.header-pic img {
  width: 100% !important; }

/****** List-Box ******/
.stations ul, .public-stations ul {
  list-style: none; }

.list-box {
  background-color: white; }

.list-box.active {
  background-color: #555;
  box-shadow: inset 0px 4px 8px #000; }

.list-box.active p, .list-box.active i {
  color: white; }

div.list-box {
  border-bottom: 2px solid #d9e0ed; }

li.list-box {
  border-top: 1px solid #d9e0ed; }

.list-box a {
  display: block;
  padding: 15px; }

.list-box p {
  color: #777777; }

.list-box .fa, .stations-number {
  line-height: 22px;
  color: #ccc;
  font-size: 1.6em; }

.stations-number {
  display: inline;
  margin-left: 20px; }

.stations-title {
  display: inline;
  margin-left: 15px; }

.sortable {
  margin-top: 54px; }

/****** item image ******/
.item-picture img {
  border-bottom: 2px solid #ccc; }

/****** item text ******/
.item-text p {
  opacity: 0.65; }

/****** 800 and above ******/
@media (min-width: 800px) {
  .public-stations.bottom {
    display: none !important; }

  .station-show-titel.left {
    display: block !important; }

  .station-show-titel.right {
    display: none; }

  .menu-left {
    display: block !important;
    float: left;
    width: 30%; }

  .titel {
    width: 70%; }

  .wrapper {
    float: left;
    width: 70%; }

  .sortable {
    margin-top: 0px; } }
/****** 1200 and above ******/
@media screen and (min-width: 1200px) {
  .wrapper, .titel {
    width: 840px;
    margin-left: auto;
    margin-right: auto; }

  .main {
    width: 1200px; } }
.main {
  margin: 0px auto;
  /*background-color: #FFF;
  box-shadow: 0px 16px 32px #d9e0ed;*/ }

.main:after {
  content: "";
  display: table;
  clear: both; }

.public-stations {
  margin-top: -3px; }

.public-stations.bottom {
  display: block; }

.menu-left {
  display: none;
  width: 30%;
  background-color: #FFF;
  box-shadow: 0px 16px 32px #d9e0ed; }

.wrapper {
  background-color: #FFF;
  box-shadow: 8px 16px 32px #d9e0ed; }

.wrapper:after {
  content: "";
  display: table;
  clear: both; }

.text-box {
  width: 100%;
  background-color: #fff;
  text-align: center; }

.text-box p {
  padding: 15px;
  opacity: 0.6; }

.footer {
  text-align: center; }

.footer p, .footer a {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #d9e0ed;
  opacity: 0.8;
  font-weight: 600;
  font-size: 1.2em !important; }

.footer a {
  padding-bottom: 2px;
  border-bottom: 2px solid #eef1f7;
  font-size: 1em !important; }

/*# sourceMappingURL=index.css.map */
