body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #666;
  text-align: center;
}

a {
  color: #666;
  outline: 0;
}

span {
  height: 100%;
  display: block;
  width: 0%;
  background-color: rgb(145, 207, 218);
}

.progress-bar {
  display: block;
  width: 80%;
  border: 2px solid rgb(145, 207, 218);
  background-color: rgba(67, 150, 224, 0.06);
  height: 22px;
  margin: 20px auto 20px auto;
}

.update-content {
  margin-top: 50px;
  text-align: center;
}

.button {
  display: none;
  cursor: pointer;
  width: 220px;
  border: 2px solid rgb(145, 207, 218);
  text-align: center;
  background-color: rgba(67, 150, 224, 0.06);
  padding: 12px 0px 12px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #666;
}

.reverse {
  margin-top: 20px;
}

.wrapper-update {
  width: 100%;
}
