body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #666;
  text-align: center;
}

a {
  color: #666;
  outline: 0;
}

span {
  height: 100%;
  width: 32%;
  display: block;
  width: 0%;
  background-color: #2dafec;
}

.progress-bar {
  display: block;
  width: 80%;
  border: 2px solid #2dafec;
  background-color: #f6f7f8;
  height: 32px;
  margin: 20px auto 20px auto;
}

.update-content {
  margin-top: 50px;
  text-align: center;
}

.button {
  display: none;
  cursor: pointer;
  width: 220px;
  border: 2px solid #888;
  text-align: center;
  background-color: #FFF;
  padding: 9px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  color: #666;
}
.reverse {
  margin-top: 20px;
}
.button:hover {
  border-color: #555;
  background-color: #555;
  color: #FFF;
}

.wrapper-update {
  width: 100%;
}

/* Fancy shit */

.status-text {
  padding: 24px 0 18px 0;

  color: #AAA;
}

svg {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}
svg path {
  stroke-linecap: round;
  stroke-width: 100px;
}

svg.loading .logo path {
  stroke-dasharray: 456;
  stroke-dashoffset: -912;
  animation: dash 0.75s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
svg.loading .warning {
  display: none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
