/****** Update ******/
.update {
  text-align: center;
  height: 155px;
}

.update p {
  font-size: 1.6em;
  padding-top: 20px;
}

.update-box {
  background-color: rgba(47, 113, 47, 0.99);
  color: #fff;
  position: fixed;
  font-size: 0.9em;
  bottom: 0px;
  width: 100%;
  display: none;
  height: 51px;
  border-bottom: 1px solid #000;
}

.update-box p {
  opacity: 0.9;
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.close-icon {
  font-size: 3.4em !important;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 99;
}
