/****** Update Box ******/
.update-box {
  position: fixed;
  display: none;
  width: 100%;
  bottom: 0px;
  z-index: 201;
  background-color: #fff;
  border-top: 2px solid #ccc;
  box-shadow: 0px -16px 32px #d9e0ed;
  color: #222;
  font-size: 0.9em;
}

.update-box p {
  opacity: 0.9;
  padding: 24px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 0.05em;
}

.close-icon {
  font-size: 3.4em !important;
  padding: 10px;
  position: absolute;
  bottom: 50%;
  margin-bottom: -27px;
  right: 10px;
  z-index: 99;
}
