span {
  height: 100%;
  display: block;
  width: 0%;
  background-color: rgb(145, 207, 218);
}

.progress-bar {
  width: 70%;
  margin-top: 15px;
  border: 2px solid rgb(145, 207, 218);
  background-color: rgba(67, 150, 224, 0.06);
  margin-left: 14%;
  height: 20px;
}

.update {
  margin-top: 20px;
  text-align: center;
}
